/* profile */
.profile {
  display: flex;
  justify-content: space-between;

}

.job-info, .basic-item {
  display: flex;
}

.profile .avatar {
  width: 80px;
  height: 80px;
  background: #d1d1d1;
  border-radius: 50%;
  margin-right: 20px;
}

.profile .name {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0 4px;
}

.profile .job {
  font-size: 16px;
}

/* basic_info */
.basic-info  {
  font-size: 13px;
  padding: 4px 0 0px;
  width: 56%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: start;
}

.basic-item {
  width: 50%;
  overflow: hidden;
  height: 24px;
  display: flex;
  align-items: center;
}

.item-wrapper {
  display: flex;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.basic-item .item-title {
  width: 60px;
  display: flex;
  justify-content: flex-end;
}

.basic-item  .item-content  {
  margin-left: 4px;
}

.basic-info a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.basic-info a:hover {
  color: #333;
  text-decoration: none;
}

.basic-info a .item-content {
  text-decoration: underline;
}

/* 图标样式 */
.basic-info i {
  display: inline-block;
  padding: 0;
}


/* resume-section */
.resume-section {
  border-bottom: 1px solid #d1d1d1;
  padding: 10px 0;
  margin: 10px 0;
}

.resume-section .sec-title {
  font-weight: bold;
  font-size: 18px;
}

.resume-item {
  display: flex;
  justify-content: space-between;
}

.resume-content-title {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 5px;
}
