
/* resume-markdown-content */
.md-resume-content {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
/* profile */
.profile {
  display: flex;
  justify-content: space-between;
  color: var(--theme-profile-color);
}

.layout-top .profile {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px
}

.job-info, .basic-item {
  display: flex;
}

.profile .avatar {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  margin-right: 20px;
}

.profile .name {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0 4px;
  color: #000;
}

.profile .job {
  font-size: 18px;
}

/* 默认布局 */
/* basic_info */
.basic-info  {
  font-size: 13px;
  padding: 4px 0 0px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: start;
}

.basic-item {
  width: 50%;
  overflow: hidden;
  height: 24px;
  display: flex;
  align-items: center;
}

.item-wrapper {
  display: flex;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/* 默认布局 */
.basic-item  .item-content  {
  margin-left: 4px;
}

.basic-info a {
  color: var(--theme-profile-color);
  text-decoration: none;
  cursor: pointer;

}

.basic-info a:hover {
  color: var(--theme-profile-a-hover);
  text-decoration: none;
}

.basic-info a .item-content {
  text-decoration: none;
}

/* 图标样式 */
.basic-info i {
  display: inline-block;
  padding: 0;
  color: var(--theme-icon-color);
}

/* resume-section */
.resume-section {
  border-bottom: 1px solid var(--theme-line-color);
  padding: 5px 0;
  margin: 0px 0 10px;
}

.resume-section .sec-title {
  font-weight: bold;
  font-size: 20px;
  color: var(--theme-color);
}

.resume-item {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.resume-content-title {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 5px;
}
.resume-item .item-right {
  color: var(--theme-color);
}

/* ul li */
ul {
 margin-top: 6px;
 margin-bottom: 6px;
 padding-left: 30px;
}
li {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* layout */
.layout-left, .layout-right {
  display: flex;
}

.layout-left .md-resume-content, .layout-right .md-resume-content {
  margin-top: 10px;
}

.layout-left .profile, .layout-right .profile {
  width: 220px;
  display: block;
  border-right: 1px solid #ccc;
}

.layout-right .profile {
  margin-right: 0px;
  border-right: 0;
  border-left: 1px solid #ccc;
}

/* 左侧布局 */
 .layout-left .basic-item, .layout-right .basic-item {
  width: 100%;
  text-align: left;
  padding-top: 8px;
}

/* 右侧布局 */
.layout-right .job-info, .layout-left .job-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  position: relative;
  z-index: 10;
}

/* layout-bg */
.layout-right  .layout-bg, .layout-left  .layout-bg {
  padding-bottom: 40px;
}

.layout-right .layout-bg:after,  .layout-left .layout-bg:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--theme-color);
  border-radius: 0 0 60px 60px;
  color: #fff;
}

.layout-right .layout-bg .name,  .layout-right .layout-bg .job{
  color: #fff;
  text-align: center;
  font-size: 22px;
}

.layout-left .layout-bg .name,  .layout-left .layout-bg .job{
  color: #fff;
  text-align: center;
  font-size: 22px;
}


.layout-right .basic-item {
  display: block;
}

.layout-left .profile .avatar , .layout-right .profile .avatar  {
  width: 100px;
  height: 100px;
  margin-right: 0px;
  box-sizing: border-box;
}

.layout-left .basic-info, .layout-right .basic-info {
  font-size: 12px;
  display: block;
  width: 200px;
  box-sizing: border-box;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}


.basic-info .basic-info-title {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
}
