@import "custom-markdown.css";
:root {
  /* theme*/
  --theme-color: #953b2c;
  --theme-icon-color: #000;
  --theme-line-color: #953b2c;
  /* profile color */
  --theme-profile-color: #6a7282;
  /* profile a:hover-color */
  --theme-profile-a-hover: #000;
}


body {
  background: #f5f5f5;
  line-height: 1.4;
}
